<div class="container">
  <% if (user) {%>
  <h1>WELCOME BACK <%= user.username %></h1>
  <p><%= user.status %></p>
  <a href="/dashboard/new-message">Create new message</a>
  <% if(user && (user.status === 'admin')) { %>
  <a href="/dashboard/user-panel">User Panel</a>
  <% } %>
  <a href="/dashboard/log-out">LOG OUT</a>

    <% if (user.status === 'guest' ) {%>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-8 col-md-10 join-the-club">
            <p class="mb-0">Do you want to post your ideas about Iceland?</p>
            <p>Introduce the code to post and to see who is posting</p>
            <a class="btn btn-primary" href="/dashboard/join-the-club">Join the club</a>
          </div>
        </div>
      </div>
    <% } %> 
  <% } else { %> 
  
  <% } %>

  <ul>
    <% messages.forEach(function(message) { %>
    <li>Message: <%= message.text %></li>
    <% if(user && (user.status === 'member' || user.status === 'admin')) { %>
    <li>Fecha: <%= message.timestamp %></li>
    <li>Usuario: <%= message.userId.firstname %> <%= message.userId.lastname %></li>
    <% } %> <% if(user && (user.status === 'admin')) { %>
    <form action="/dashboard/delete/<%= message._id %>" method="POST">
      <input type="submit" value="Delete" />
    </form>
    <% } %>
    <hr />

    <% }); %>
  </ul>
  <a href="/dashboard/signup">Sign Up</a>

  
</div>
