<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <p><%= user.status %></p>
      <a href="/dashboard/new-message">Create new message</a>
      <a href="/dashboard/log-out">LOG OUT</a>
    <% } else { %>
      <h1>Signup</h1>
    <% } %>  
    <ul>
      <% messages.forEach(function(message) { %>
        <li>Message: <%= message.text %></li>
        <% if(user && (user.status === 'member' || user.status === 'admin')) { %>
          <li>Fecha: <%= message.timestamp %></li>
          <li>Usuario: <%= message.userId.firstname %> <%= message.userId.lastname %></li>
        <% } %>
        <% if(user && (user.status === 'admin')) { %>
          <form action="/dashboard/messages/<%= message._id %>" method="DELETE">
              <input type="submit" value="Delete">
          </form>
        <% } %>
        <hr>

      <% }); %>
    </ul>
    <a href="/dashboard/signup">Sign Up</a>

    <a href="/dashboard/join-the-club">Join the club</a>
    

    <h1>please log in</h1>
    <form action="/dashboard/log-in" method="POST">
      <label for="email">Email</label>
      <input name="username" placeholder="email" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  </body>
</html>
